*.class

# Package Files #
*.jar
*.war
*.ear

# eclipse files
.classpath
.project

# IntelliJ
*.iml
*.iws
*.ipr

# paths
.metadata/
.settings/
.idea/
target/
test-output/
out/
deploy/
.git/
/2deploy/
/start.bat - Ярлык.lnk
processed/
prepared/
sent/
